{% extends "main/base.html" %}
{% block content %}
<div class="container p-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
		  <h5 class="card-title">{{ fabric.name }}</h5>
		  <p class="card-text">{{ fabric.description }}</p>
		  <p><strong>Price:</strong> {{ fabric.price }}</p>
		
		  <h2>Images</h2>
		  {% for image in fabric.images.all %}
		  <div class="col-md-9">
			  <div class="d-flex jusify-content-between">
				  <img src="{{ image.image.url }}" class="mt-2 card-img-bottom w-100" alt="{{ fabric.name }}" width="200" height="200" loading="lazy">
			  </div>
		  </div>
		  	
		  {% endfor %}
            <p><strong>Color:</strong> Blue</p>
            <p><strong>Material:</strong> Cotton</p>
            <p><strong>Width:</strong> 60 inches</p>
            <p><strong>Length:</strong> Available in various lengths</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
            <a href="{% url 'fabrics:fabric-list'  %}" class="btn btn-secondary">Back to Fabrics</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}


