{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container">
    <div class="content-section my-5 pb-5">
        <div class="media">
            <img class="rounded-circle img-fluid w-25" src="{{ user.profile.image.url }}" alt="User Profile Image">
            <div class="media-body">
                <h2 class="h4">{{ user.username }}</h2>
                <p class="text-muted">{{ user.email }}</p>
            </div>
        </div>
        <!-- Add icons here -->
        <i class="bi bi-envelope"></i> <!-- Example: Email icon -->
        <i class="bi bi-phone"></i> <!-- Example: Phone icon -->
        <!-- FORM HERE -->

	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset id="$0_$0" class="">
			<legend>Profile Info</legend>
			{{ u_form|crispy }}
			{{ p_form|crispy }}
		</fieldset>

		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Update</button>
		</div>
		
	</form>
    </div>
	
</main>
{% endblock %}
